<!-- index.html -->
{% extends "base.html" %}

{% block title %}{{ project_name }}{% endblock %}

{% block content %}
<div class="max-w-full mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
    <a href="/" class="text-3xl font-bold mb-4">Garden Water Control</a>
    <p> Current time is: {{current_time}}</p>
    {% if message %}
    <p class="text-lg text-green-300">{{ message }}</p>
    {% endif %}
    {% if is_paused %}
    <p class="text-lg text-red-300">The scheduler is paused</p>
    <p class="text-lg text-red-300">Wake up time is at {{wakeup_time}} </p>
    <p class="text-center mt-2 mb-2">
        <a href="/unpause_tasks" class="bg-gray-500 hover:bg-gray-700 text-white text-sm font-bold py-1 px-2 rounded">Unpause</a>
    </p>
    {% endif %}

    <table class="table-auto border-collapse ">
        <tr>
            <th class="px-4 py-2 text-center">Action</th>
            <th class="px-4 py-2 text-center">Status</th>
            <th class="px-4 py-2 text-center">Location</th>
            <th class="px-4 py-2 text-center">Device</th>
        </tr>
        {% for device in devices %}
        <tr class="{{ 'bg-green-200' if device.state else 'bg-red-200' }}">
            <td class="px-4 py-2 text-center">
                <form action="/toggle/{{ device.pin }}" method="post" style="display:inline;">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Toggle</button>
                </form>
            </td>
            <td class="px-4 py-2 text-center">{{ "ON" if device.state else "OFF" }}</td>
            <td class="px-4 py-2 text-center">{{ device.location }}</td>
            <td class="px-4 py-2 text-center">{{ device.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <p class="text-center mt-4 mb-4">
        <a href="/schedule" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create and View
            Task/Schedule</a>
    </p>
    <p class="text-center mt-2 mb-2">
        <a href="/log_download" class="bg-gray-500 hover:bg-gray-700 text-white text-sm font-bold py-1 px-2 rounded">Download Log</a>
    </p>
    <p class="text-center mt-2 mb-2">
        <a href="/log_display" class="bg-gray-500 hover:bg-gray-700 text-white text-sm font-bold py-1 px-2 rounded">Show Log</a>
    </p>
    <!-- reload schedule button-->
    <p class="text-center mt-2 mb-2">
        <a href="/reload_schedule" class="bg-gray-500 hover:bg-gray-700 text-white text-sm font-bold py-1 px-2 rounded">Reload Schedule</a>
    </p>
    <p class="text-center mt-2 mb-2">
        <a href="/update_code" class="bg-gray-500 hover:bg-gray-700 text-white text-sm font-bold py-1 px-2 rounded">git pull origin main</a>
    </p>
    
</div>
{% endblock %}